<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="http://bootswatch.com/5/darkly/bootstrap.css">
    <title>Madlibs</title>
</head>
<style>
    .form-group2 {  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 300px;
        margin:auto;
    }
</style>
<body>
    <div class="container vw-50">
        <div class="px-5 py-5 my-5 text-center">
            <h1>Madlibs</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>